POSTGRES_USER=edubridge_user
POSTGRES_PASSWORD=edubridge_password
POSTGRES_DB=edubridge
DB_PORT=5434
BACKEND_PORT=5001
FRONTEND_PORT=3001
BETTER_AUTH_SECRET=development_secret_key_12345
DEFAULT_INITIAL_PASSWORD=EduBridge2026!
